<h2 id="title">Welcome to Ember</h2>

{{outlet}}

{{test-container id="dynamic-link" dynamicLinkParams=dynamicLinkParams something=something somethingElse=somethingElse}}

{{test-container id="dynamic-link2" dynamicLinkParams=dynamicLinkParams2}}
